<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Login</h1>
<form method="post">
  <div>
    <label for="user">Usuario:</label>
    <input type="text" name="user" id="user">
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">
  </div>
  <div>
    <div class="button-container">
      <button type="submit" class="filter-hotels-button">Entrar</button>
      <a href="/web/" class="filter-hotels-button">Salir</a>
    </div>

  </div>
</form>
</body>
</html>