<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Hotel</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>


<h1>Nuevo Hotel</h1>

<a href="/web/" class="filter-hotels-button">Volver</a>
<form method="post">
    <div>
        <label for="name">Nombre</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="categories">Estrellas</label>
        <input type="text" id="categories" name="categories" required>
    </div>
    <div>
        <label for="provinces">Provincia</label>
        <input type="text" id="provinces" name="provinces" required>
    </div>
    <div>
        <label for="establishment_address">Dirección</label>
        <input type="text" id="establishment_address" name="establishment_address" required>
    </div>
    <div>
        <label for="municipalities">Municipio</label>
        <input type="text" id="municipalities" name="municipalities" required>
    </div>
    <div>
        <label for="postal_code">Código Postal</label>
        <input type="text" id="postal_code" name="postal_code" required>
    </div>
    <div>
        <label for="phone">Teléfono</label>
        <input type="text" id="phone" name="phone" required>
    <div>
        <label for="modalities">Modalidad</label>
        <input type="text" id="modalities" name="modalities" required>
    </div>
        </div>
        <button>Guardar</button>

    </div>
</form>
</body>
</html>