<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${hotel.name}"/>
    <link rel="stylesheet" href="/style.css">
</head>
<body>



  <div class="hotel-container">
      <div class="hotel-card">
          <h1 class="hotel-title" th:text="${hotel.name}"></h1>
          <p><strong>Estrellas:</strong> <span th:text="${hotel.categories}"></span></p>
          <p><strong>Provincia:</strong> <span th:text="${hotel.provinces}"></span></p>
          <p><strong>Dirección:</strong> <span th:text="${hotel.establishment_address}"></span></p>
          <p><strong>Municipio:</strong> <span th:text="${hotel.municipalities}"></span></p>
          <p><strong>Modalidad:</strong> <span th:text="${hotel.modalities}"></span></p>
          <p><strong>Teléfono:</strong> <span th:text="${hotel.phone}"></span></p>
        </div>
    </div>

  <a href="/web/" class="back-button">Volver</a>
</body>
</html>